<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zpf.support">

    <application>
        <activity
            android:name="com.zpf.support.base.CompatContainerActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@style/CompatContainerActivityStyle"
            />
        <activity
            android:name="com.zpf.support.base.ContainerActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@style/ContainerActivityStyle"
            />
        <activity
            android:name="com.zpf.support.single.base.CompatSinglePageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@style/CompatContainerActivityStyle"
            />
        <activity
            android:name="com.zpf.support.single.base.SinglePageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@style/ContainerActivityStyle"
            />
    </application>
</manifest>