<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zpf.support">

    <application>
<!--        <provider-->
<!--            android:name="android.support.v4.content.FileProvider"-->
<!--            android:authorities="com.zpf.support.deffileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_path"/>-->
<!--        </provider>-->
        <activity
            android:name="com.zpf.support.base.CompatContainerActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="com.zpf.support.base.ContainerActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            />
        <activity
            android:name="com.zpf.support.single.base.CompatSinglePageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="com.zpf.support.single.base.SinglePageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            />
    </application>
</manifest>